{% extends "global_template.html" %}

{% block body %}
<div class="jumbotron text-center" style="background-color: #640084;color: white;">
  <h1>Cloud Connect</h1>
<p>Made by Suraj Goel</p>
</div>

<div class="container">
    {% for id,text,clr in data %}
       <div class="d-flex justify-content-center">
            <div class="p-2 bd-highlight">
                Button {{ id }}
            </div>

            <div class="p-2 bd-highlight">
                <button class="btn btn-{{clr}}" type="submit"  onclick="location.href='/switchbutton/{{id}}'" name='Switch'>{{ text }}</button>
            </div>
        </div>
    {% endfor %}


</div>

{%endblock%}